

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.container{

    text-align: center;
    text-decoration: darkblue;

}
.titleFormat{
    padding: 70px;
}

.IncPass{
  margin-top: 5px;
  text-align: center;
  font-style: italic;
  color: red;
}

.none{
    display: none;
}



#R{
    padding: 50px;
}

#botonSaldoC1{
    height: 60px;
}
#botonIngresoC1{
    height: 60px;
}

#botonRetiroC1{
    height: 60px;
}

#regresar {
  align-items: center;
  appearance: button;
  background-color: #FFFFFF;
  border: 2px solid #5bc0de;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #5bc0de;
  position: relative;
  cursor: pointer;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#regresar:active {
  background-color: #5bc0de;
}

#regresar:hover {
  color: black;
  background-color: #5bc0de;
}



#regresar2 {
  align-items: center;
  appearance: button;
  background-color: #FFFFFF;
  border: 2px solid #5bc0de;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #5bc0de;
  position: relative;
  cursor: pointer;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#regresar2:active {
  background-color: #5bc0de;
}

#regresar2:hover {
  color: black;
  background-color: #5bc0de;
}


#Logout {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  user-select: auto;
}

#Logout::after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


#Logout:hover:not(:disabled) {
  filter: brightness(1.1);
}



.position{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}